<%= form_for @passage do |f| %>
  	Current word count: <span id="display_count">0</span>

  	<%= f.text_area :passage, :class => "text", :id => "passage_area", :placeholder => "Start your thoughts here...", :"data-persist" => "garlic", :onKeyUp=> "word_count(this.value, hidden_count)" %>

    <%= f.submit "Submit", :class => "m-btn purple" %>
<% end %>