<h1>Topic: </h1>
<h2>Description: </h2>
<%= link_to(image_tag("bold.png", :alt => "Bold"), :remote => true) %>
<%= link_to(image_tag("italic.png", :alt => "Italics"), :remote => true) %>
<%= link_to(image_tag("underline.png", :alt => "Underline"), :remote => true) %>

<%= render "form" %>